<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />

    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>說喀就喀 是否點追加?</title>
</head>

<body>
    <style>
        .el-input-group__prepend {
            width: 110px;
        }
    </style>
    <div id="app">
        <el-menu class="el-menu-demo" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">

            <el-menu-item index="1"><a href="https://s12113122.github.io/MapleStoryM/core.html" target="_blank">尋找核心</a>
            </el-menu-item>
            <el-menu-item index="2"><a href="https://s12113122.github.io/MapleStoryM/getPet.html" target="_blank">寵物抽抽樂</a></el-menu-item>
            <el-menu-item index="3"><a href="https://s12113122.github.io/MapleStoryM/status.html" target="_blank">體檢中心</a></el-menu-item>
            <el-menu-item index="3"><a href="https://s12113122.github.io/MapleStoryM/addition.html" target="_blank">追加/物魔傷</a></el-menu-item>
        </el-menu>
        <div class="container p-2 w-100">
            <div class="row">

                <el-card class="box-card w-100  text-center">
                    <div slot="header" class="clearfix">
                        <h2 style="color:#F56C6C">說喀就喀 是否點追加?</h2>
                        <p style="color:#909399">
                            參考巴哈追加參考公式表:https://forum.gamer.com.tw/C.php?bsn=29461&snA=15163
                        </p>
                        <p style="color:#909399">
                            PS:如果真的算出來跟別人說點哪個有差別，就依照你自己的想法去點因為不會誤差到很大
                        </p>
                        <p>對王的公式: 表攻 * 技能倍率 * (1 + 傷害%) * (1 + 終傷%) * (1 + 攻擊% + B攻% * 技能倍率) </p>
                        <p>追傷的公式: 0.15 * 表攻 * 150% * (1 + 傷害%) * (1 + 終傷%) * (1 + 攻擊% + B攻% * 150%)</p>
                        <h5 style="color:#F56C6C">注意!!如果你當前極限屬性點物/魔傷，幫我在物/魔傷%-20</h5>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 text-center mb-1">
                            <el-input type="number" placeholder="物/魔攻" v-model="attack">
                                <template slot="prepend">物/魔攻</template>
                            </el-input>
                        </div>
                        <div class="col-12 col-md-4 text-center mb-1">
                            <el-input type="number" placeholder="物/魔攻%" v-model="attack_percent">
                                <template slot="prepend">物/魔攻%</template>
                            </el-input>
                        </div>
                        <div class="col-12 col-md-4 text-center mb-1">
                            <el-input type="number" placeholder="物/魔傷%" v-model="damage">
                                <template slot="prepend">物/魔傷%</template>
                            </el-input>
                        </div>
                        <div class="col-12 col-md-4 text-center mb-1">
                            <el-input type="number" placeholder="B傷%" v-model="boss_damage">
                                <template slot="prepend">B傷%</template>
                            </el-input>
                        </div>

                        <div class="col-12 col-md-4 text-center mb-1">
                            <el-input type="number" placeholder="技能傷害%" v-model="skill_percent">
                                <template slot="prepend">技能傷害%</template>
                            </el-input>
                        </div>

                        <div class="col-12 col-md-4 text-center mb-1">
                            <el-input type="number" placeholder="終傷%" v-model="finally_attack">
                                <template slot="prepend">終傷%</template>
                            </el-input>
                        </div>


                    </div>
                    <div class="row mt-1">
                        <!-- attack * skill_percent * (1+damage) *(1+attack_percent+skill_percent*(boss_damage+10%*0)) * (1+finally_attack) -->
                        <div class="col-12 col-md-4 text-center mb-1" style="color:#67C23A">
                            BOSS傷害: {{ this.normal()}}
                        </div>
                        <div class="col-12 col-md-4 text-center mb-1" style="color:#E6A23C">
                            加上物/魔傷20%: {{this.normal2()}}
                        </div>
                        <div class="col-12 col-md-4 text-center mb-1" style="color:#606266">
                            追傷: {{this.expect()}}
                        </div>
                        <div class="col-12 col-md-4 text-center mb-1" style="color:#606266">
                            物魔傷增益:{{ Number(this.normal2()) / Number(this.normal()) }}
                        </div>
                        <div class="col-12 col-md-4 text-center mb-1" style="color:#606266">
                            追傷增益:{{ ( Number(this.normal())+ Number(this.expect()) ) / Number(this.normal()) }}
                        </div>
                    </div>
                </el-card>
            </div>
        </div>

    </div>

</body>


<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>



<script>
    var app = new Vue({
        el: '#app',
        data: {
            attack: 18043,
            attack_percent: 172.7,
            damage: 97.5,
            boss_damage: 58.6,
            crit: 410.2,
            skill_percent: 235,
            finally_attack: 25,
            crit_percent: 100,
        },
        methods: {
            normal() {
                const total = this.attack * (this.skill_percent / 100) * (1 + (this.damage / 100)) * (1 + (this.finally_attack / 100)) *
                    (1 + (this.attack_percent / 100) + ((this.boss_damage / 100)) * (this.skill_percent / 100))
                return Number(total).toFixed(4);
            },
            normal2() {
                const total = this.attack * (this.skill_percent / 100) * (1 + (this.damage / 100) + 0.2) * (1 + (this.finally_attack / 100)) *
                    (1 + (this.attack_percent / 100) + ((this.boss_damage / 100)) * (this.skill_percent / 100))
                return Number(total).toFixed(4);
            },
            expect() {
                const total = 0.15 * this.attack * 1.5 * (1 + (this.damage / 100)) * (1 + (this.finally_attack / 100)) *
                    (1 + (this.attack_percent / 100) + (this.boss_damage / 100) * 1.5)
                return Number(total).toFixed(4);
            }

        },
        mounted() {





        }

    })
</script>






<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script> -->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">









<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->

</html>